.App {
  margin: auto;
  text-align: center;
  width: 50%;
  font-size: x-large;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 3px black solid;
}

td, th {
  /*border: 1px black solid;*/
  padding: 3px;
}
